# General purpose
fastapi
pandas
pillow
opencv-python
numpy
pipreqs
zmq
PyYAML
scikit-learn

# Huggingface
datasets[vision]
transformers
accelerate
evaluate

# torch
torch
torchvision

# AI
albumentations 
pytesseract